<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<appSettings>
		<add key="SizePattern" value="-s, --s, /s, --size" />
		<add key="VersionPattern" value="-v, --v, /v, --version"/>
	</appSettings>
	<log4net>
		<appender name="FileLogger" type="log4net.Appender.RollingFileAppender">
			<file value="FileData.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="yyyyMMdd"/>
			<maximumFileSize value="10MB"/>
		</appender>
	</log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>